*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
p, h2, h3{
    font-family: Arial, Helvetica, sans-serif;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
header {
	background-color: #0020F4;
    width: 1475;
    height: 91px; 
        
}
.sky{
    margin-left: 240px;
    width: 97px;
    height: 55px;
}

.header-flex, .navbar-ul {
    display: flex;
}
.header-flex{
    justify-content: space-between;
    align-items: center;
}
.navbar-ul li{
    margin: 18px;
}
.navbar{
    vertical-align: middle;
}

nav a{
    color: #FFFFFF;
}
.cont {
    background-color: white;
    border: none;
    padding: 18px 36px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
   

}
.cont a{
    color: #171717;
    font-weight: bolder;
  
}
.div-section{
    display: flex;
    margin-top: 200px;
}
.div-section{
    justify-content: space-between;
    align-items: center;
}

.div-section-2{
    display: flex;
    margin-left: 240px;
    margin-top: 60px;
}
.div-circle{
    display: flex;
}
.servis-1{
    margin-right: 25px;
}
.servis-1 h2 {
    color: #171717;
    font-size: 22px;
    margin-top: 20px;
}
.servis-1 p {
    padding-top: 20px;
}
.servis{
    margin-left: 240px;
    color: #171717;
    font-size: 32px;

}
.circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #0020F4;
   
}
.circle-1{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #0A22F4;
    opacity: 30%;
    margin-left: 20px;
}
.div-square{
    display: flex;
}
.square{
    width: 70px;
    height: 70px;
    background-color: #a50e0e;
    
    
}
.square-1{
    width: 70px;
    height: 70px;
    background-color: #0A22F4;
    
}



